# Environments
venv/
.venv/
env/
/bin/
/include/
/lib/
/share/
pyvenv.cfg
pip-selfcheck.json

# IDEs
.idea/
.vscode/
*.swp
*.swo
individual/
# Project specific
status.txt
cumulative_data.txt
venv/
ideas/draft.txt
docs/CumulativeLeaderboard.md
docs/Idea.md
googleTag.html
cumulative_data.txt
status.txt
docs/additional.txt
data/quizRankData.txt.bak
GOOGLE_SHEETS_SETUP.md
scripts/contact_form_script.gs
scripts/ultra_simple.gs
.gitignore
scripts/post_contact_script.gs
scripts/debug_post_script.gs
scripts/simple_contact_script.gs
scripts/debug_script.gs
simple_test.html
post_test.html
data/raw/MattewMarkLuke.txt.bak
data/raw/MattewMarkLuke.txt
data/raw/Acts10.txt
data/processed/MattewMarkLuke_cleaned.txt
data/processed/Acts10Cleaned.txt
data/johnonly.txt
data/quizRankData.txt
data/processed/individual/Luke_Cleaned.txt
.gitignore
data/processed/individual/Other_Gospels_Cleaned.txt
data/raw/AllGospels_Final_Combined.txt
data/raw/AllGospels_Combined.txt
data/processed/individual/Matthew_Luke_Combined_Cleaned.txt
data/processed/individual/Mark_Cleaned.txt
data/raw/johnonly.txt
scripts/detect_duplicates.py
scripts/generate_combined_rankings.py
data/processed/MattewMarkLukeJohn_cleaned_leaderboard.csv
data/processed/MattewMarkLukeJohn_cleaned_leaderboard.csv
data/processed/MattewMarkLukeJohn_cleaned_leaderboard.csv
