name: Deploy to GitHub Pages

on:
  push:
    branches:
      - version_1.1

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare Deployment
        run: |
          mkdir deploy
          cp -r assets deploy/
          cp -r data deploy/
          cp *.html deploy/
          # No path fixing needed because we are deploying from root!

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./deploy
          publish_branch: gh-pages
